# Node
node_modules/
.next/
dist/
build/
*.tsbuildinfo

# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
